.lbm-instrument-item-cover {
	height: 170px;
	width: 170px;
	border-radius: 20px;
	object-fit: contain;
}

.lbm-instrument-item {
	color: rgb(0, 0, 0);
	margin: 10px;
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	text-transform: capitalize;
}
.box-instrument {
	background-color: rgb(155, 160, 160);
	border-style:ridge;
	border-color: rgb(255, 255, 255);
}